h1{
    font-family: 'Rambla', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

h2, h3, h4{
    font-family: 'Hind', sans-serif;
}

h2{
    font-size: 2em;
    font-weight: bold;
    color: #0a3841;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.5em;
}

p, a{
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

a{
    color: #26626D;
}
a:hover{
    color: #CFA65B;
}
.a-hvr{
    color: #CFA65B;
    text-decoration: underline;
}

.circle{
    border-radius: 50%;
}

.color{
    width: 50px;
    height: 50px;
}

.textc-primary{
    color: #26626D;
}
.bck-primary{
    background-color: #26626D;
}

.textc-light{
    color: #9fd5df;
}
.bck-light{
    background-color: #9fd5df;
}

.textc-dark{
    color: #001114;
}
.bck-dark{
    background-color: #001114;
}

.textc-secondary{
    color: #0a3841;
}
.bck-secondary{
    background-color: #0a3841;
}

.textc-tertiary{
    color: #CFA65B;
}
.bck-tertiary{
    background-color: #CFA65B;
}

.textc-quaternary{
    color: #EB7939;
}
.bck-quaternary{
    background-color: #EB7939;
}

.btn{
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}
.default-btn{
    background-color: #0a3841;
    color: #9fd5df;
}
.default-btn:hover, .default-btn-hvr{
    background-color: #9fd5df;
    color: #001114;
}
.default-btn:active, .default-btn-active{
    background-color: #26626D;
    color: #9fd5df;
}

.special-btn{
    background-color: #CFA65B;
    color: #0a3841;
}
.special-btn:hover, .special-btn-hvr{
    background-color: #EB7939;
    color: #001114;
}
.special-btn:active, .special-btn-active{
    background-color: #CFA65B;
    color: #001114;
}