.verde{
    background-color: limegreen;
    border: 1px solid black;
    min-height: 60px;
}

.rojo{
    background-color: red;
    height: auto;
    min-height: 50px;
    border: 1px solid black;
}

.lila{
    background-color: violet;
    border: 1px solid black;
    height: 60px;
}

.naranja{
    background-color: orange;
    border: 1px solid black;
    height: auto;
    min-height: 70px;
}

.azul{
    background-color: blue;
    border: 1px solid black;
    height: 60px;
}

*{
    padding: 0px;
}