.container{
    display: grid;
    grid-column: 1/6;
    grid-row: 1/6;
    background-color: chocolate;
    width: 800px;
    height: 600px;
}

.header{
    grid-row: 1/2;
    background-color: chartreuse;
}

.footer{
    grid-row: 5/6;
    background-color: coral;
}