body{
    margin: 0;
}

header{
    border-radius: 10px;
    background-color: yellow;
    margin: 10px;
}

.list{
    border-radius: 10px;
    background-color: orange;
    margin: 10px;
}

.menu-list{
    display: none;
    list-style: none;
    padding-left: 15px;
}

.main-content article{
    color: white;
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
    margin: 10px;
}

footer{
    border-radius: 10px;
    background-color: pink;
    margin: 10px
}

@media only screen and (min-width: 600px){
    header{
        text-align: center;
    }

    main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    article{
        width: 330px;
    }

    .list{
        width: 230px;
    }

    .menu-list{
        display: block;
    }

    .menu-select{
        display: none;
    }
}

@media only screen and (min-width: 936px){
    .main-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .main-content div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1366px){
    .main-content div{
        flex-direction: row;
    }
}