$primary: #26626D;
$light: #9fd5df;
$dark: #001114;
$secondary: #0a3841;
$danger: #cfa65b;

$theme-colors: ( "primary": $primary, "secondary": $secondary, "light": $light, "dark": $dark, "danger": $danger);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.custom-card{
    .card-body{
        padding: 0;
    }

    .card-text{
        height: fit-content;
        max-height: 6em;
        line-height: 1.5em;
        overflow:hidden;
    }

    img{
        border-radius: 4px;
    }
}

