.menu{
    background-color: chartreuse;
    height: 50px;    
}

.azul{
    background-color: cornflowerblue;
    height: 80px;
}

.dispositivo{
    background-color: cyan;
    height: 50px;
}

.gris{
    background-color: grey;
    height: 80px;
}

.naranja{
    background-color: orange;
    height: 60px;
}

.menu, .azul, .dispositivo, .gris, .naranja{
    border: 1px solid black;
}