.title{
    background-color: black;
    color: white;
}

h1{
    padding: 20px;
    margin-bottom: 2px;
}
h2{
    padding-left: 20px;
}

#subtitle{
    width: 50%;
    background-color: grey;
}

.subtitles{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.content p{
    padding-left: 5px;
}

article{
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px;
}