.main{
    display: flex;
    flex-direction: column;
}

p{
    padding: 5px;
    margin: 0;
}

#primer{
    background-color: green;
}

#segundo{
    background-color: orange;
}

#tercer{
    background-color: grey;
}

@media only screen and (min-device-width: 768px){
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #primer, #segundo, #tercer{
        width: 100%;
    }
  }
  