MetròpolisFPlab

MetròpolisFPlab 4a edició 2021-2022

MetròpolisFPLab és un projecte d’innovació impulsat per l’Àrea Metropolitana de Barcelona i la Fundació BCN Formació Professional, amb l’objectiu de posar en valor el talent de l’alumnat de formació professional, apropant-lo al mercat laboral, potenciant l’adquisició de competències clau i fomentant la seva inserció laboral, a través de la metodologia d’innovació oberta en un entorn real.

El MetròpolisFPlab arriba a la seva 4a edició i aquesta setmana s’ha publicat la convocatòria per a la participació dels centres de l’àrea metropolitana de Barcelona. El programa creix i es renova amb noves empreses i organitzacions a cada edició per poder abraçar una pluralitat d’àmbits i sectors professionals. En la d’enguany participa per primera vegada una start-up com Lupa Energy i noves empreses com GPA Innova i Arquima i una organització com el Consorci de la Zona Franca amb un repte vinculat a augmentar la presència de dones en el sector industrial.
        <a href="https://blogs.amb.cat/innoamb/ca/metropolisfplab/">Contacta</a>
        <a href="https://www.fundaciobcnfp.cat/wp-content/uploads/2021/11/Bases-MetropolisFPLab4.pdf">Apuntat</a>

Reptes
    LUPA ENERGY
    <iframe src="https://www.youtube.com/embed/71QZO1Opw2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    Com t'agradaria que fos l'infoentreteniment (pantalla) dels vehicles? Funcionalitats, distribució dels menús, etc.
                
    GPA INNOVA
    <iframe src="https://www.youtube.com/embed/71HA1rd0w4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    Com podríem fer que els empleats d’una organització complexa, estiguin gestionats, informats i comunicats a temps real?
            
    TMB
    <iframe src="https://www.youtube.com/embed/RGUUwf6Dj-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    LCom podríem fer que les dones se sentin més segures al transport públic?       
        
    Pla estratègic Metropolità de Barcelona
    <iframe src="https://www.youtube.com/embed/o3Z8_vUQHvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    Com podem augmentar la participació dels joves en les activitats culturals del seu entorn?
           
Empreses/Entitats participants
   GPA Innova
   Lupa Energy
   TMB
   PEMB
   Circuit de Catalunya
   Institut Català d'Oconlogía
   
   Carrer Aigua Blava 121