.text-primary-color, .btn-text-primary, .btn-text-primary:hover{
    color: #5F4B8B;
}

.bg-primary-color{
    background: #5F4B8B;
}

.text-secondary-color, h1, h2, h3{
    color: #ffbc48;
}

.bg-secondary-color, .btn-bg-terciary{
    background: #ffbc48;
}

.text-terciary-color, .name-empresa{
    color: #8374A6;
}

.bg-terciary-color, .btn-bg-terciary:hover{
    background: #8374A6;
}

.bg-web-color{
    background: #F4F3EF;
}

.text-justified{
    text-align: justify;
}

.yt-thumbnail{
    width: auto;
}

.img-empresa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name-empresa:hover{
    background: #ffbc48;
    color: #5F4B8B;
}

.empresa{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px){
    article{
        height: 413px;
    }
}

@media only screen and (min-width: 992px){
    .yt-thumbnail{
        width: 100%;
    }

    article{
        height: 470px;
    }
}

@media only screen and (min-width: 1500px){
    article{
        height: 420px;
    }
}

